/* 
resize fix
Navigation
Nav -resize
body-
   left side
   right side
outer layer

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-decoration: none; */
}

/* =============================flash menu=================== */

  /* --------------------body--------------------- */


  .body_container{
    display: flex;
    flex-wrap:wrap-reverse;
    /* height: calc(100vh - 8vw);   this was uncomment  */
    gap: 50px;
    justify-content: space-evenly;
    width: 100vw;
  }
.div1, .div2{
    /* width: 50vw; */
    /* width: ; */
    /* min-width: 500px; */
    z-index: 2;
    /* border: 2px solid black; */
}

.div1{
    color: grey;
    font-family: 'Sono', sans-serif;
    /* background-color: aqua; */
}
.content{
    /* background-color: bisque; */
    margin-left: 8vw;
    margin-top: 30vh;
    /* margin-top: 20%; */
}
.content h3{
    letter-spacing: 0.1vw;
    
}
.content h1{
    /* font-size: 3.5vw; */
    font-size: calc(25px + 0.6vw);
    letter-spacing: 0.2vw;
    padding: 0.5vw 0 1vw;
    color: rgb(0, 0, 0);
}
.div1 h5{
    letter-spacing: 0.5vw;
}
/* .skill{
    box-shadow: 1px 3px 2px 4px yellow;
    display: inline-block;
} */
.skill #coder{
    border-width:1px 0 0 1px;
    border-color: black;
    border-style: solid;
    padding: 0.5vw 0 0 0.5vw;
    
}
.skill{
    font-size: large;
    /* border: 1px solid gray; */
}
.skill #designer{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0 0.5vw 0.5vw 0;
}
#manage:hover #coder{
    border: none;
}
#manage:hover #designer{
    border: none;
}
#manage{
    padding:0.5vw 0vw 0.5vw 0vw;
    /* transition: all 1s ease; */
}
#manage:hover{
    border: 2px solid gray;
}
.icons{
    margin-top: 2vw;
    /* left: 1vw; */
    justify-content: center;

    /* width: 18vw; */
    width: calc(70px + 13vw);
    height: 4vh;
    /* background-color: aliceblue; */
    gap: 2vw;
    display: flex;
    justify-content: space-around;
}
.icon{
    /*  Here font size and width are different */
    font-size: 2vw;
    font-size: calc(10px + 1vw);
    transition: all 200ms ease-in-out;
    max-width: 50px;
    /* background-color: rgb(63, 97, 97); */
}
.icon:hover{
    cursor: pointer;
    color: black;
    font-size: 2.5vw;
}


/* ------------------ right side----------------- */
.div2{
    /* background-color: white;   */
    justify-content: center;
    display: flex;
    /* background-color: rgb(210, 203, 203); */
}
#mypic{
    /* width: 30vw; */
    /* width: calc(200px + 15vw); */
    width: calc(300px + 10vw);
    height: calc(375px + 28vh);   
    /* height: auto;    */
    /* border: 3px solid black; */
    /* border-radius:20%; */
    border-radius: 200px; 
    border-left: none;
    border-top: none;
    
    box-shadow: 3px 0 5px 1px gray;
}
#mypic:hover{
    cursor: pointer;
    box-shadow: 2px 0 3px 1px gray inset;
    /* border: 2px solid black; */
    border-right: none;
    border-bottom: none;

}







  
  /* @media screen and (max-width: 638px) { */
  @media screen and (max-width: 790px) {
    .div2,.div1{
        padding: auto;
    }
    .div2{
        padding-top: 5vh;
        display: flex;
        justify-content: center;
        padding-left: 5% ;
    }

    #mypic{
        /* width: 100px; */
        width:300px;
        height:400px ;
        /* height:100px !important; */ 
    }
    .content{
        margin-top: 0%;
        margin-bottom: 20%;
        padding-right: 20%;
    }
    .container{
        min-height: 50px;
    }
    
  }

  @media screen and (max-width: 1100px) {
    .body_container{
        gap: 100;
    }
    .div2{
        height:calc(300px+3vw);
        padding-right: 5%;
    }
  }


.icons a{
    text-decoration: none;
    color: black;
}