*{
    margin: 0;
     padding: 0; 
     box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    .container{
        background-color: rgba(44, 77, 77, 0.708);
    }
   .body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }
    
    .container_hex{
        position: relative;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        gap: 4rem;
        flex-wrap: wrap; 
        background-color: rgba(44, 77, 77, 0.708);
    }
  .hexagon{
        position: relative;
        /* width: max(350px, 40rem);
        height: max(350px, 40rem); */   
        width: 350px;
        height: 350px;
        margin: 50px 10px 70px;
        
    }
    .hexagon::before{
        content: '';
        position: absolute;
        bottom: -70px;
        width: 100%;
        height: 60px;
        background: radial-gradient(rgba(0,0,0,0.20),transparent,transparent);
        border-radius: 50%;
        transition: 0.5s;
    }
    .hexagon:hover::before{
        opacity: 0.8;
        transform: scale(0.8);
    }
    .hexagon .shape{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        clip-path: polygon(0 25%,50% 0,100% 25%, 100% 75%,50% 100%,0 75%);
        transition: 0.5s;
    }
    .hexagon:hover .shape{
        transform: translateY(-30px);
    }
    .hexagon .shape img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .hexagon .shape .content{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
        /* background: linear-gradient(45deg,#03a9f4,rgba(3,169,244,0.5)); */
        background-color: rgba(96, 92, 92, 0.562);
        color: white;
        opacity: 0;
        transform: 0.5s;
    }
    .hexagon:hover .shape .content{
        opacity: 1;
    }


    /* ====================Loading==================== */
    .loading{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1vw;
    }

    .i1{
        color: gray;
        font-size: 80px;
        animation: spin 2s linear infinite;
        margin-right: 30px;
        transform: rotate(360deg);
        }
    
    @keyframes spin{
        0%{
            transform:rotate(0deg);
        }
        100%{
            transform:rotate(360deg);
        }
    }
    .i2{
        position:absolute;
        color: rgb(142, 133, 133);
        font-size: 30px;
        margin-left: 55px;
        margin-top: 10px;
        animation: spin2 2s linear infinite;
    }
    @keyframes spin2{
        0%{
            transform:rotate(0deg);
        }
        100%{
            transform:rotate(-360deg);
        }
    }
    span{
        font-size: xx-large;
        color: gray;
        bottom: 100px;
    }
        /* ====================Loading==================== */

.shown li a{
    font-family: 'Sono', sans-serif;
}